body {
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #F6F9FA;
}

.container {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);

    width: 860px;
    height: 860px;
}

.container > div {
    cursor: crosshair;
    border: 1px solid #F6F9FA;
}

/*** Slider customization ***/
#demo {
    color: #9ea0a1;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.slider {
    width: 15%;
    height: 10px;
    background: linear-gradient(to right, #FFDE55 0%, #74DAE2 49%, #fff 49%, #fff 100%);
    transition: background 450ms ease-in;
    -webkit-appearance:none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.slider::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: #EF5480;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}
/*** End slider customization ***/